[submodule "front-colficultor"]
	path = front-colficultor
	url = https://github.com/Carlos-Carretero/front-colficultor
[submodule "back-colficultor"]
	path = back-colficultor
	url = https://github.com/Jrios09/back-colficultor
